<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!-- Comeent out/in the line below for Tracing -->
        <!-- <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="BackupManagerTrace.log" /> -->
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="MediabackupXml" value="..\..\MediaBackup.xml"/>
  </appSettings>
</configuration>