<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
  <!-- After this many days the backup warns to check the disks again -->
  <BackupDiskDaysToReportSinceFilesChecked>90</BackupDiskDaysToReportSinceFilesChecked>

  <!-- A bigger percentage difference than this and the backup stops -->
  <BackupDiskDifferenceInFileCountAllowedPercentage>1</BackupDiskDifferenceInFileCountAllowedPercentage>
  
  <!-- MinimumCriticalBackupDiskSpace in MB -->
  <BackupDiskMinimumCriticalSpace>250</BackupDiskMinimumCriticalSpace>

  <!-- MinimumFreeSpaceToLeaveOnBackupDisk in MB -->
  <BackupDiskMinimumFreeSpaceToLeave>210</BackupDiskMinimumFreeSpaceToLeave>

  <MasterFoldersFileChangeWatchersONOFF>true</MasterFoldersFileChangeWatchersONOFF>
  
  <!-- MinimumCriticalMasterFolderSpace in MB -->
  <MasterFolderMinimumCriticalSpace>200000</MasterFolderMinimumCriticalSpace>

  <MasterFoldersDaysBetweenFullScan>7</MasterFoldersDaysBetweenFullScan>

  <!-- Minimum read speed in MB/s -->
  <MasterFolderMinimumReadSpeed>30</MasterFolderMinimumReadSpeed>

  <!-- Minimum write speed in MB/s -->
  <MasterFolderMinimumWriteSpeed>30</MasterFolderMinimumWriteSpeed>

  <!-- in seconds -->
  <MasterFoldersProcessChangesTimer>5</MasterFoldersProcessChangesTimer>

  <!-- in seconds -->
  <MasterFoldersScanTimer>10</MasterFoldersScanTimer>

  <!-- in seconds -->
  <MasterFolderScanMinimumAgeBeforeScanning>20</MasterFolderScanMinimumAgeBeforeScanning>

  <!-- Monitor interval in seconds -->
  <MonitoringInterval>30</MonitoringInterval>

  <!-- When true the service monitoring starts when the app starts -->
  <MonitoringONOFF>false</MonitoringONOFF>

  <PushoverAppToken>InsertYourPushoverAppTokenHere</PushoverAppToken>

  <!-- True to enable sending Pushover messages -->
  <PushoverONOFF>true</PushoverONOFF>
  
  <PushoverSendLowONOFF>true</PushoverSendLowONOFF>

  <PushoverSendNormalONOFF>true</PushoverSendNormalONOFF>

  <PushoverSendHighONOFF>true</PushoverSendHighONOFF>

  <PushoverSendEmergencyONOFF>true</PushoverSendEmergencyONOFF>

  <PushoverUserKey>InsertYourPushoverUserKeyHere</PushoverUserKey>

  <!-- Sends a high priority message once this limit is passed -->
  <PushoverWarningMessagesRemaining>500</PushoverWarningMessagesRemaining>
 
  <!-- When true a backup scan will run when scheduled -->
  <ScheduledBackupONOFF>true</ScheduledBackupONOFF>
  
  <!-- When true a backup scan will run when the app starts -->
  <ScheduledBackupRunOnStartup>false</ScheduledBackupRunOnStartup>

  <!--  ScheduledBackupStartTime as hh:mm -->
  <ScheduledBackupStartTime>11:30</ScheduledBackupStartTime>

  <!-- Size of disk speed test file in MB -->
  <SpeedTestFileSize>200</SpeedTestFileSize>

  <!-- Number of disk speed test iterations to run -->
  <SpeedTestIterations>1</SpeedTestIterations>

  <!-- If True we test the speed of the disks -->
  <SpeedTestONOFF>false</SpeedTestONOFF>

  <!-- The root folder where Directory SymbolicLinks are created -->
  <SymbolicLinksRootFolder>J:\</SymbolicLinksRootFolder>

  <Monitors>
    <Monitor>
      <Url />
      <Timeout>30</Timeout>
      <ProcessToKill>plex media server,ffmpeg</ProcessToKill>
      <ApplicationToStart>"%ProgramFiles(x86)%\Plex\Plex Media Server\Plex Media Server.exe"</ApplicationToStart>
      <Name>Plex</Name>
      <Port>0</Port>
      <FailureTimePeriod>30</FailureTimePeriod>
      <MaximumFailures>10</MaximumFailures>
    </Monitor>
  </Monitors>

  <MasterFolders>
    <!-- List each UNC path that you want to scan for files to backup here -->
    <MasterFolder>\\nas1\assets1\_Test</MasterFolder>
  </MasterFolders>

  <IndexFolders>
    <!-- These are the subfolders that will be searched in the shares above -->
    <IndexFolder>_Audio Books</IndexFolder>
    <IndexFolder>_Backup</IndexFolder>
    <IndexFolder>_Comedy</IndexFolder>
    <IndexFolder>_Comedy (non-tmdb)</IndexFolder>
    <IndexFolder>_Concerts</IndexFolder>
    <IndexFolder>_Concerts (non-tmdb)</IndexFolder>
    <IndexFolder>_From Mum</IndexFolder>
    <IndexFolder>_MMA</IndexFolder>
    <IndexFolder>_Movies</IndexFolder>
    <IndexFolder>_Movies (non-tmdb)</IndexFolder>
    <IndexFolder>_Music</IndexFolder>
    <IndexFolder>_Other</IndexFolder>
    <IndexFolder>_Pictures</IndexFolder>
    <IndexFolder>_Playlists</IndexFolder>
    <IndexFolder>_Software</IndexFolder>
    <IndexFolder>_Sport</IndexFolder>
    <IndexFolder>_TV</IndexFolder>
    <IndexFolder>_TV (non-tvdb)</IndexFolder>
    <IndexFolder>_Videos</IndexFolder>
  </IndexFolders>

  <Filters>
    <!-- RegEx's of file to ignore when executing a scan -->
    <FilterRegEx>!*.bup</FilterRegEx>
  </Filters>
  <FilesToDelete>
    <FilesToDeleteRegEx>._.DS_Store</FilesToDeleteRegEx>
    <FilesToDeleteRegEx>.DS_Store</FilesToDeleteRegEx>
  </FilesToDelete>
  <DisksToSkipOnRestore />
</Config>